
  .container {
    background-image: url('../../../assets/fevicon_io/cars.png');
    height: 84vh;
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    font-family: Arial, sans-serif;
    /* color: #fff; */
    margin: -100;
    padding: 10;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional, makes the image fixed while scrolling */
    background-position: right center;
    color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 70vh;
  }

  .card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 0px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  select {
    appearance: none;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }