#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .promo-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .promo-table th,
  .promo-table td {
    padding: 10px;
    text-align: center;
  }
  
  .promo-table th {
    background-color: #777e85;
    color: #fff;
  }
  
  .promo-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .promo-table tr:hover {
    background-color: #d9d9d9;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button[color="basic"] {
    background-color: #a10a0a;
    color: rgb(250, 237, 237);
  }
  
 
  