mat-sidenav-container{
    height:calc(205vh - 115vh);
    
    }
    mat-sidenav{
        width:200px;
        background-color:rgb(61, 66, 72);
    }

    mat-toolbar {
        background-color: #1a1b1b !important; 
        color: white !important; 
        
      } 
      .button-container {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
    
      
mat-list:hover{
    color: rgb(45, 49, 52);
}
