<app-navbar></app-navbar>
<head>
    <title>About Us Section</title>
    <meta charset="utf-8" />
    <meta name="veiwport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="" />
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About us</h1>
          </div>
          <div class="content">
            <h3>Your Car, Your Choice, Your Shine.</h3>
            <p>
                Welcome to our Green Carwash service, where your vehicle's cleanliness and convenience are our top priorities.We understand the hustle and bustle of modern life, leaving you with little time to pamper your car. That's why we've designed a hassle-free, eco-friendly, and convenient solution for your car cleaning needs. Our dedicated team of skilled professionals is just a few taps away, ready to bring the car wash to you. Whether you're at home, the office, or any other location, we'll provide top-notch car washing services, using the latest technology and eco-friendly products to ensure a pristine and sparkling clean, all while minimizing our environmental footprint. Experience the future of car care with Green CarWash today!
            </p>
            <div class="button">
              <a hred="" routerLink="/login">Get Started</a>
            </div>
          </div>
        </div>
        <div class="social">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="image-section">
        <img
          src="https://images.pexels.com/photos/6873123/pexels-photo-6873123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        />
      </div>
    </div>
  </body>
  